<div class="bd-masthead mb-3" id="content">
  <div id="intro" class="container-fluid bg-image vh-100" style="
        background-image: url('../../assets/imgs/teste_img.png'); background-repeat: no-repeat;
      ">

    <div class="row">
      <div class="col-5">
        <p>a semente é algo que nos coloca para dentro</p>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <p>a semente é algo que nos coloca para dentroo</p>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <p>a semente é algo que nos coloca para dentro</p>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <p>a semente é algo que nos coloca para dentro</p>
      </div>
    </div>



  </div>

</div>
