<h2>Quem sou eu</h2>

<p>
  Sou Psicóloga formada pela Universidade X, com especialização em Terapia Cognitivo-Comportamental pela Universidade Y. Atuo na área clínica desde o ano de 20XX, auxiliando meus pacientes a superarem desafios emocionais, comportamentais e psicológicos. Meu objetivo é ajudar as pessoas a descobrirem seu potencial, conquistarem autoconhecimento e desenvolverem habilidades para lidar com as adversidades da vida. Acredito que cada indivíduo é único e, por isso, meu trabalho é realizado de forma personalizada e empática, respeitando as particularidades e necessidades de cada paciente. Entre em contato e juntos, podemos buscar soluções para os seus problemas.
</p>



