<div class="container-fluid" style="background-color: #9999999d;">
<div class="container-fluid"
style="background-image: url('../assets/imgs/teste_img1600.png'); height: 650px;
background-position-x: center;"
>
  <app-menu></app-menu>

  <div class="container px-4 text-center">
    <div class="row">
      <div class="col-md-8">
        <span class="mb-3 fw-semibold lh-1" style="font-size: x-large; font-style: italic; color: rgba(216, 222, 222, 0.989);">
          A felicidade não é uma estação onde chegamos, mas uma maneira de viajar.
        </span>

        <div class="card-footer">
          Sigmon Freud
        </div>

      </div>
    </div>
  </div>

</div>
</div>

<div class="container-fluid"
style="background-color: bisque;
height: 650px;"
>

</div>

<!--
<main>
  <app-banner-principal></app-banner-principal>

  <app-quem-sou-eu></app-quem-sou-eu>

  <app-atendimento-online></app-atendimento-online>

  <app-contato></app-contato>
</main>

<app-rodape></app-rodape>
-->

<div class="container">
  <h2>Primeiro Container</h2>
  <p>conteúdo</p>
  <p>conteúdo</p>
  <p>conteúdo</p>
</div>

<div class="container-fluid" style="border-color: black">
  <h2>olá mundooooo</h2>
  <p>conteúdo</p>
  <p>conteúdo</p>
  <p>conteúdo</p>
</div>

<div class="container-sm">
  <h2>olá mundooooo</h2>
  <p>conteúdo</p>
</div>

<div class="container-md">
  <h2>olá mundooooo</h2>
  <p>conteúdo</p>
</div>


<div class="container-lg">
  <h2>olá mundooooo</h2>
  <p>conteúdo</p>
</div>

<!-- Grid -->

<div class="container">
  <div class="row">
    <div class="col">
      Produto A
    </div>
    <div class="col">
      Produto B
    </div>
  </div>
  <div class="row">
    <div class="col">
      Produto C
    </div>
    <div class="col">
      Produto D
    </div>
    <div class="col">
      Produto E
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        Produto A
      </div>
      <div class="col">
        Produto B
      </div>
    </div>
    <div class="row">
      <div class="col">
        Produto C
      </div>
      <div class="col">
        Produto D
      </div>
      <div class="col">
        Produto E
      </div>
    </div>
  </div>

</div>

<div class="container-fluid">

</div>

<!-- Tamanho das colunas -->
<div class="containter">
  <div class="row">
    <div class="col-4">
      Coluna 4
    </div>
    <div class="col-2">
      Coluna 2
    </div>
  </div>
</div>

<div class="containter" id="largura-limitada">
  <div class="row">
    <div class="col-11">
      Coluna 11
    </div>
    <div class="col-1">
      Coluna 1
    </div>
  </div>
</div>

<p>Fim</p>
